
.notice:first-child{
    margin-top:10px;
    }
.notice {
    font-family:SeoulNamsanL;
   
    border-left: 9px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
     background-image: url("fitfit.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 12px;
    border-color: #009EFF;
    font-size: 100%;
}
.notice-success>strong {
    color: #009EFF;
}
.notice-info {
     background-image: url("fitfit_pink.png");
    background-repeat: no-repeat;
    background-position: right bottom;
     padding: 8px;
    border-color: #FEBFCA;
}
.notice-info>strong {
    color: #FEBFCA;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.notice>.desc{
    display:none;
    }
.readMore{
    cursor:pointer;
}